@using BikeShop.Models.Shop
@model ShopListViewModel
@{
    ViewData["Title"] = @Model.Title;
}

<div class="row">
    <div class="banner mb-5">
        <a href="#">
            <img src="@Model.BannerUrl" />
        </a>
    </div>
</div>

<div class="row" id="allbikes">
@foreach (var item in Model.Items)
{
    <div class="col-auto">

        <div>
            <p><strong>@item.Manufacturer @item.Model</strong></p>
            <img src="@item.PhotoUrl" width="300"/>
        </div>
            <a asp-controller="Bag" asp-action="AddToCart" asp-route-id="@item.Id">
                <button type="button" class="btn btn-success">
                    Buy Bike
                </button>
            </a>
    </div>
}
</div>