@using BikeShop.Models.Customer
@model IEnumerable<CustomerListViewModel>

@{
    ViewData["Title"] = "Admin";
}

<h1>Customers</h1>

<a asp-controller="Customer" asp-action="Create">Add Customer</a>

<table>
    <thead>
        <tr>
            <th style="width:300px">First Name</th>
            <th style="width:300px">Last Name</th>
            <th style="width:150px">Detail</th>
            <th style="width:150px">Edit</th>
            <th style="width:150px">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td><a asp-controller="customer" asp-action="detail" asp-route-id="@item.CustomerId">View</a></td>
                <td><a asp-controller="customer" asp-action="edit" asp-route-id="@item.CustomerId">Edit</a></td>
                <td><a asp-controller="customer" asp-action="delete" asp-route-id="@item.CustomerId">Remove</a></td>
            </tr>
        }
    </tbody>
</table>